h1{
    text-align: center;

    
}
*{
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0% 5%;
    width: 90%;
}
/*
#header{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    overflow: auto;
}*/
.nav {
    margin: 0% 13%;
    width: 74%;
}
ul,ol{
    list-style: none;
}
.nav li a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover{
    background-color: #434343;
}
.nav > li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover >ul{
    display: block;
}